*,
*::before,
*::after {
    box-sizing: border-box;
}

/**  Убираем внутренние отступы слева тегам списков, у которых есть атрибут class */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**  Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/*  Убираем внешние отступы вертикали нужным тегам,у которых есть атрибут class */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/*  Убираем стандартный маркер маркированному списку,у которого есть атрибут class */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/* Обнуляем вертикальные внешние отступы параграфа, объявляем локальную переменную для внешнего отступа вниз, чтобы избежать взаимодействие с более сложным селектором*/
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/* Внешний отступ вниз для параграфа без атрибута class,  который расположен не последним среди своих соседних элементов*/
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**  Упрощаем работу с изображениями */
img {
    display: block;
    max-width: 100%;
}

/**  Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**      Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта)     */
    height: 100%;
}

/**  Плавный скролл */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**      Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта)     */
    min-height: 100%;
    /**      Унифицированный интерлиньяж     */
    line-height: 1.5;
}

/**  Приводим к единому цвету svg-элементы */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**  Чиним баг задержки смены цвета при взаимодействии с svg-элементами */
svg * {
    transition-property: fill, stroke;
}

/**  Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.main {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    word-break: break-word;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
    width: 100%;
}

.main_btn{
    background-color: #32dfd0;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main_btn:hover{
    background-color: #216c65;
    color: white;
}

.inp{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #eefdf5;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.submit{
    background-color: #62ac81;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit:hover{
    background-color: #185914;
    color: white;
}

.btn_field{
    width: 100%;
}

.add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px #000000 dashed;
    border-radius: 5px;
}

.add_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add_child > * {
    text-align: center;
}

.del {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px #000000 dashed;
    border-radius: 5px;
}

.del_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del_child > * {
    text-align: center;
}

.report {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #000000 dashed;
    border-radius: 5px;
}

.report_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.report_child > * {
    text-align: center;
}

.mpb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.mpb_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mpb_child > * {
    text-align: center;
}

.ref_btn{
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
}

.cost{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #d8cbcb;
}


.income{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #d4e3d4;
}

.cost:hover{
    background-color: #431414;
    color: white;
}

.income:hover{
    background-color: #175012;
    color: white;
}

.in {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #52e6c1;
}
.in:hover{
    background-color: #214e47;
    color: white;
}

.out {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #ffbfbf;
}
.out:hover{
    background-color: #652222;
    color: white;
}






