<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        button {
            background-color: #e8a3a3 !important;
        }
        button:hover {
            background-color: #7c1b1b !important;
        }
    </style>
</head>
<body>
<main class="main">
    <h2>{{.head}}</h2>
    <div class="field">
        <p style="color:#c30101;">{{ .error }}</p>
    </div>

    <div class="btn_field">
        <a href="http://localhost:24681/budget" >
            <button type="button" class="main_btn">
                В бюджет
            </button>
        </a>
    </div>
    <hr>

    <div class="btn_field">
        <a href="http://localhost:24681/" >
            <button type="button" class="main_btn">
                На главную
            </button>
        </a>
    </div>
</main>
</body>
</html>