<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешный ответ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="main">
    <h2>{{.result}}</h2>
    <div class="field">
        {{range .message}}
        <p class="msg" style="color:#13570c;">
            №{{.ID}} - {{.Amount}} руб. - {{.Category}}({{.Comment}})
        </p>
        {{end}}
    </div>

    <div class="btn_field">
        <a href="http://localhost:24681/budget" >
            <button type="button" class="main_btn">
                В бюджет
            </button>
        </a>
    </div>
    <hr>
    <div class="btn_field">
        <a href="http://localhost:24681/" >
            <button type="button" class="main_btn">
                На главную
            </button>
        </a>
    </div>
</main>
</body>
</html>